.search{
    width: 1250px;
    margin: auto;
}


.top{
    font-size: 30px;
    text-align: center;
    width: 300px;
    margin: auto;
    font-weight: bold;
}

.top div:first-child{
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top div:last-child{
    width: 200px;
    margin: 10px auto 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #94c6f2;
}

.cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.no{
    font-size: 30px;
    text-align: center;
    font-weight: bold;

}