.headbox {
    margin-bottom: 30px;
    height: 225px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.intro{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.user{
    margin-top: 10px;
}

.user a {
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: #010B40;
    transition: .5s;
}
.user a:hover{
    color: #94C6F2;
}

.logout {
    display: flex;
    margin-top: 10px;
}

.logout div {
    cursor: pointer;
    margin: 0 10px;
    color: #010B40;
    transition: .5s;
}

.logout a {
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: #010B40;
    transition: .5s;
}

.logout div:hover, .logout a:hover{
    color: #94C6F2;
}

.logo{
    width: 400px;
    font-size: 60px;
    font-weight: bold;
    color: #010B40;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
        color: #010B40;
}

.search{
    width: 500px;
    margin: 15px auto;
    background-color: #ffffff;
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid #94c6f2;
}

.search form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.search form select {
    width: 80px;
    font-size: 16px;
    border: none;
    margin-left: 10px;
}

.search form select:focus{
    outline: none;
}

.search input{
    border: none;
    background-color: transparent;
    width: 330px;
    font-size: 20px;
    margin-left: 15px;
}

.search input:focus{
    outline: none;
}

.search button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.search svg{
    font-size: 26px;
}

.post{
    width: 100px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px 10px;
}

.post a{
    text-decoration: none;
    color: #010B40;
    cursor: pointer;
    transition: 0.5s;
}

.post a:hover{
    color: #94C6F2;
}

.category {
    display: flex;
    width: 700px;
    font-size: 22px;
    margin: 10px auto;
    justify-content: space-between;
}

.category a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
    transition: .5s;
}

.category a:hover{
    color: #94C6F2;
}