.headbox {
    margin-bottom: 30px;
    height: 160px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.intro{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.user{
    margin-top: 10px;
}

.user a {
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: #010B40;
    transition: .5s;
}
.user a:hover{
    color: #94C6F2;
}

.logout {
    display: flex;
    margin-top: 10px;
}

.logout div {
    cursor: pointer;
    margin: 0 10px;
    color: #010B40;
    transition: .5s;
}

.logout a {
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: #010B40;
    transition: .5s;
}

.logout div:hover, .logout a:hover{
    color: #94C6F2;
}

.logo{
    width: 400px;
    font-size: 60px;
    font-weight: bold;
    color: #010B40;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
        color: #010B40;
}

.post{
    width: 100px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px 10px;
}

.post a{
    text-decoration: none;
    color: #010B40;
    cursor: pointer;
    transition: 0.5s;
}

.post a:hover{
    color: #94C6F2;
}