.item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    padding: 5px 10px;
    color: #010326;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
    transition: .5s;
}
.item.none{
    opacity: .5;
    box-shadow: none;
    position: relative;
}

.item:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
.item.none:hover {
    box-shadow: none
}

.item.none .stop{
    position: absolute;
    color: red;
    width: 200px;
    height: 300px;
    top: 30px;
}

.item .name{
    width: 200px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin: 10px 0;
}

.imgbox {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(235, 234, 234);
}

.imgbox img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.into {
    width: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}

.into .tag{
    display: flex;
    height: 37px;
}

.into .none, .into .no, .into .my{
    margin:10px 10px 0 0;
    padding: 3px 5px;
    border-radius: 7px;
    font-size: 15px;
}
.cartegory{
    display: flex;
}

.cartegory .car{
    background-color: transparent;
    color: rgb(100, 100, 100);
    font-size: 12px;
    margin:0 5px;
}

.into .tag .no{
    background-color: rgb(247, 104, 104);
    color: white;
}

.into .tag .my{
    background-color: #94C6F2;
    color: #010326;
}

.right>div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 180px;
}

.right div{
    margin: 5px 0;
}