.header{
    width: 200px;
    text-align: center;
    margin: 60px auto;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #94C6F2;
    padding-bottom: 15px;
    color: #010326;
}

.item{
    width: 700px;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    color: #010326;
}

.head h1{   
    text-align: center;
    font-size: 40px;
}

.head p{
    text-align: right;
    margin: 10px 20px;
}

.cartegory{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #94C6F2;
    font-size: 18px;
}

.cartegory div{
    margin-right: 25px;
}

.imgbox{
    width: 650px;
    margin: auto;
}

.imgbox img{
    width: 100%;
    margin: auto;
}

.cont {
    width: 650px;
    margin: 20px auto 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cont div{
    margin: 10px 0;
}

.cont .tag{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cont .tag div{
    margin: 5px 0;
    margin-left: 15px;
    padding: 5px 10px;
    background-color: #F2EEAC;
    border-radius: 10px;
}

.cont .tag .no{
    background-color: red;
    color: white;
}

.cont .itemcont{
    font-size: 17px;
    width: 600px;
    margin: 10px auto;
}
.cont .info{
    width: 600px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.buy{
    width: 600px;
    margin: 10px auto;
    display: flex;
    justify-content: flex-end;
}

.buy input{
    width: 100px;
    margin-right: 10px;
}

.buy input::-webkit-outer-spin-button,
.buy input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.update{
    display: flex;
}

.update div{
    margin: 0 0 0 10px;
    cursor: pointer;
    transition: .5s;
}

.update div:hover{
    color: #94C6F2;
}